*{
box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Inria Serif', serif;   
}

a{
 text-decoration: none;
}

li {
font-weight: 800;
border: solid 11px white;
margin: 7px;
background-color: white;

}
header{
background-color: #f5eded;
padding-bottom: 2em;
padding-top: 1em;

}

strong {
    color: dimgray;
}
a:hover{
    color: green;
}
a:link{
    color: royalblue;
}
a:visited{
    color: firebrick;
}
.header-p ,
.contact p{
    font-weight:200;
    margin-top: 2em;
    font-size: 22px;
    padding-left: 1em;
    padding-right: 1em;
}

.name {
    font-weight: 800;
    letter-spacing: 2px;
}
.portfolio-header {
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact-header,
.portfolio-header{
text-transform: uppercase;
font-size: 2em;
}
.main-nav {
    margin-bottom: 3em;
}


.main-footer {
            border-top: solid gainsboro 1px;
            margin-top: 5em;
}
.bottom {
    margin-top: 9em;
    background-color: #f5eded;
    padding-top: 3em;
    padding-bottom: 1em;
}
.clearfix::after {
    content:"";
        display:table;
        clear:both;
    }    
    .main {
        padding-left: 1em;
    padding-right: 1em;
    }  
    .student {
float: left;
margin-left: 1em;
    }
    .back {
        float:right;
        margin-right: 1em;
    }

.main img{
 width: 340px;

}

.col h3{
text-transform: capitalize;
font-weight: 600;
font-size: 2em;

}

.col p {
font-size: 1.625em;
line-height: 2;

padding-bottom: 1em;
}
.main-nav a{
    display: block;
    text-transform: uppercase;
}
.main-footer p {
    font-weight: 700;
    padding-top: 1em;
}
.nav-footer{
    display: none;
}
.name-footer{
    display: none;
}
@media (min-width:768px) {
.main-nav li,
.main-nav a ,
.main-nav{
    display: inline;
    border: none;
    background: none;
    margin-right: 1em;
}
    .name {
        margin-bottom: 1em;
    }
    .profile-pic{
        float: right;
        margin-top: 3em;
        padding-right: 1em;
    width: 50%;
    }
    .header-p {
        text-align: left;
        width: 50%;
    }
    .main-header{
        padding-bottom: 5em;
    }
    .marketing {
        float:left;
        width: 50%;
    }
    .search{
        float: left;
       width: 50%;
    }
    .travel {
        float: left;
        width: 50%;
    }
    .maps{
        float:left;
        width: 50%;
    }
    .photo {
        float:left;
        width: 50%;
    }
    .calc{
        float: left;
        width:50%;
    }
    .back,
    .student{
display: none;
    }
    .nav-footer {
        float:right;
    }
    .name-footer{
        float:left;
        font-size: 1em;
        margin-left: 1em;
    }
    .name-footer,
    .nav-footer{
        display:inline;
        margin-top:1em;
    }
   li{
        border:none;
        background-color: transparent;
        display: inline-block;
        margin-top: -1em;
        margin-left: 3em;
    }
 
}
@media (min-width:1024px) {
    
   
   .name{
       float: left;
       width:21%;
   }
   .header-p{
       width: 45%;
       font-size: 20px;
       padding-top: 76px;
   }
   .main-nav ul {
       margin-top:25px;
       padding-right:21px;
       float: right;
       
   }
.profile-pic{
    width: 50%;
}
.col{
 width: 33%;
}
.main img{
    padding:14px;
}
.profile-pic{
    padding: 48px;
}

}

